{% extends 'base.html.twig' %}

{% block body %}
    <h2>Welcome</h2>
    {{ form_start(form) }}
        {{ form_row(form.fullname) }}

        <div class="col-sm-8 col-sm-offset-2" id="exp_list" data-prototype="{{ form_widget(form.exp.vars.prototype)|e('html_attr') }}">
            {% for row in form.exp %}
                <div class="card">
                    <div class="card-header bg-warning">
                        {{ row.vars.value.title }}
                    </div>
                    <div class="card-body bg-light">
                        {{ form_row(row) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {{ form_end(form) }}
{% endblock %}
